* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a {
text-decoration: none;
}
/* Header */
.ulstyle{
    display: inline;
}
#nav {
    min-height: 5vh;
    display: flex;
    width: 90%;
    margin: auto;
    padding: 2rem;
    align-items: center;
    flex-wrap: wrap;
}
#nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 0.8rem;
    text-transform: uppercase;
}
/* Main section */

#main {
    background: goldenrod;
    min-height: 85vh;
}

/* Input search */
.input-field {
    padding: 1rem 2rem;
    background: blueviolet;
}
/* Buttons */
.buttonone {
    padding: 1rem 2rem;
    background: rebeccapurple;
    color: wheat;
    border: none;
    border-radius:  0.3rem;
}

/* Lang */

#lang {
    background: skyblue;
    padding: 2rem;
}

/* Footer */

#foot {
    min-height: 10vh;
    background: pink;
}
.ulfoot {
    background: cornsilk;
    min-height: 2rem;
}

/* Footer sections */

#sectionone {
    background: coral;
    padding: 1rem;
}
#sectiontwo {
    background: cyan;
    padding: 1rem;
}
.ulright {
    background: yellow;
    min-height: 2rem;  
}